<h1>Welcome to GoodJob party!</h1>
<p><%= button_to "free party!", new_user_registration_path, method: :get %></p>
<p> already member <%= link_to "signin", new_user_session_path %></p>
<p>Find me in app/views/welcom/index.html.erb</p>
