// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 16px;
  margin-top: 20px;
}

#incomplete_jobs form {
  margin: 5px 0;
}

#complete_jobs form {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
  label { text-decoration: line-through; }
}

.edit_job {
  a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.loading {
  margin-left: 10px;
  color: #777;
}

